.banner {
    background: url("https://static1.makeuseofimages.com/wordpress/wp-content/uploads/2018/11/dark-wallpapers.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #FFF;
}

.lingkaran {
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    margin: auto;
    height: 150px;
    color: #FFF;
    background-color: #191A19;
}

.lingkaran i {
    position: relative;
    top: 35px;
}

.crop-img {
    object-fit: cover;
}

.tim img {
    width: 250px;
    border: 10px solid #cccccc;
}

a.social {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #FFF;
    border-radius: 50%;
    background-color: #333;
    line-height: 40px;
}

.client img {
    height: auto;
    max-height: 50px;
}

.kontak {
    background: url("https://wallpaperaccess.com/full/1867010.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #FFF;
}